article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}


textarea {
  overflow: auto;
  vertical-align: top;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
  background-color:#1C91DE;

}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

}

a:hover {
  color: #0B3F62;
  text-decoration: none;
}

p{
  font-weight: 100;
  line-height: 22px

}
h1{
  font-size: 64px;
  letter-spacing: -2px;
}

.container{
  margin: 10% 10%;
  width:80%;

}

.button {
  background-color:#fff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#1C91DE;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
    color:#1C91DE;
    box-shadow: 0 0 40px #FFF;


}.button:active {
  position:relative;
  top:1px;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?32636463");
  src: url("../font/fontello.eot?32636463#iefix") format('embedded-opentype'), url("../font/fontello.woff?32636463") format('woff'), url("../font/fontello.ttf?32636463") format('truetype'), url("font/fontello.svg?32636463#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  position: relative;
  top:-2px;
}

.icon-spotify:before { content: '\3d'; } /* '=' */
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-rss:before { content: '\52'; } /* 'R' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-quora:before { content: '\71'; } /* 'q' */
.icon-soundcloud:before { content: '\73'; } /* 's' */
.icon-download-alt:before { content: '\e0c3'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-search:before { content: '🔎'; } /* '\1f50e' */

.icon-download-alt{
  font-size: 70%;
}
